.site-button-ghost-wrapper {
  /* background: rgb(190, 200, 200); */
  padding: 6em;
}
.buttonsHome {
  /* background: rgb(190, 200, 200); */
  padding: 1em;
}

.hidden {
  display: none;
}

.welcome {
  padding: 6em;
  text-align: center;
}
